@import "/static/style/normalize.css";

.chronology {
  padding: 10vh 1vw;
  max-width: 85vw;
  margin: 0 auto;
  color: #333;

  details {
    margin: 1rem;
    list-style: none;
    cursor: pointer;
  }

  summary {
    list-style: none;
  }

  details[open] p {
    border-left: 0.2rem solid #333;
    list-style: none;
    font-size: 1rem;
    padding-left: 0.2rem
  }

  .details-content {
    padding: 3vh;
  }

  .details-block {
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
    font-size: 1.3rem;
    gap: 2rem;
    background-color: #ffffff;
    border-radius: 2rem;

    p {
      margin: 1rem;
    }

    details {
      margin-top: 2vh;
    }
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .title {
    font-weight: bold;
    font-size: 2rem;
  }

  .chrono-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
    font-size: 1.3rem;
    gap: 2rem;
    background-color: #ffffff;
    border-radius: 2rem;

    .progress-img-right {
      border-radius: 2rem;
    }

    p {
      margin: 1rem;
    }
  }

  .grahp-desc {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}